// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  12: $spacer * 4,
);

.button{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 35px 0 rgba(95,98,102,.17);
    color: #99a2aa;
    transition: all .5s linear;
}

.button:hover{
    color: #0e2f4b;
    transition: all .5s linear;
}

.icon-link-hover:hover polygon{
    fill: #fdc13d;
    transition: all .5s linear;
}

.icon-link-hover-2:hover #ParcelIconPath-3 {
    fill: #fdc13d;
    transition: all .5s linear;
}
.icon-link-hover-3:hover #CalcIconRectangle-2 {
    fill: #fdc13d;
    transition: all .5s linear;
}

.icon-link-hover-3:hover #target-icon-with-fill {
    fill: #fdc13d;
    transition: all .5s linear;
}

.svg-cont {
    transition: all .5s linear;
}
